<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xinliCity.mapper.BillMapper">
	<resultMap type="Bill" id="billMap">
		<id column="id" property="id"/>
		<result column="billCode" property="billCode"/>
		<result column="productName" property="productName"/>
		<result column="productDesc" property="productDesc"/>
		<result column="productCount" property="productCount"/>
		<result column="productUnit" property="productUnit"/>
		<result column="totalPrice" property="totalPrice"/>
		<result column="isPayment" property="isPayment"/>
		<result column="createdBy" property="createdBy"/>
		<result column="modifyBy" property="modifyBy"/>
		<result column="createDate" property="createDate"/>
		<result column="providerId" property="providerId"/>
		<result column="moifyDate" property="moifyDate"/>
		<result column="proName" property="providerName"/>
	</resultMap>
	
	<select id="totalCount" parameterType="map" resultType="int">
		select count(1) as totalCount from `bill`
		<trim prefix="where" prefixOverrides="and |or">
			<if test='findParam!=null and findParam!=""'>
				and  productName like concat('%',#{findParam},'%')
			</if>
			<if test='findParam1!=null and findParam1!=""'>
				and  providerId like concat('%',#{findParam1},'%')
			</if>
			<if test='findParam2!=null and findParam2!=""'>
				and  isPayment like concat('%',#{findParam2},'%')
			</if>
		</trim>
	</select>
	
	<select id="findByCondition" parameterType="map" resultMap="billMap">
		SELECT bi.id,bi.billCode,bi.productName,bi.productDesc,bi.productUnit,bi.productCount,bi.providerId,po.proName,bi.totalPrice,bi.isPayment,bi.createDate FROM bill AS bi INNER JOIN provider AS po ON po.id = bi.providerId
		<trim prefix="where" prefixOverrides="and |or">
			<if test='findParam!=null and findParam!=""'>
				and  bi.productName like concat('%',#{findParam},'%')
			</if>
			<if test='findParam1!=null and findParam1!=""'>
				and  bi.providerId like concat('%',#{findParam1},'%')
			</if>
			<if test='findParam2!=null and findParam2!=""'>
				and  bi.isPayment like concat('%',#{findParam2},'%')
			</if>
		</trim>
		limit #{start},#{end}
	</select>
	
	<select id="selctToBill" parameterType="List" resultType="Provider">
		SELECT id,proName FROM provider
	</select>
	
	<select id="selectByCondition" parameterType="List" resultMap="billMap">
		SELECT bi.id,bi.billCode,bi.productName,bi.productDesc,bi.productUnit,bi.productCount,bi.providerId,po.proName,bi.totalPrice,bi.isPayment,bi.createDate FROM bill AS bi INNER JOIN provider AS po ON po.id = bi.providerId 
		<if test='id!=null and id!=""'>
			where bi.id=#{id}
		</if>
	</select>
	<insert id="insert" parameterType="Bill">
		insert into mdan(name,price,shu,userId)
		VALUES(#{name},#{price},#{shu},#{id})
	</insert>
	<insert id="in" parameterType="Bill">
		insert into mdan(name,price,shu,userId)
		VALUES(#{name},#{price},#{shu},#{id})
	</insert>
	<update id="update" parameterType="Bill">
		UPDATE bill SET billCode=#{billCode},productName=#{productName},productUnit=#{productUnit},productCount=#{productCount},totalPrice=#{totalPrice},providerId=#{providerId},isPayment=#{isPayment},modifyBy=#{createdBy},modifyDate=#{createDate} WHERE id = #{id}
	</update>
	
	<delete id="delete">
		delete from `bill` where id=#{billId}
	</delete>
</mapper>