<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:mvc="http://www.springframework.org/schema/mvc"
   	   xsi:schemaLocation="http://www.springframework.org/schema/beans
						   http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
						   http://www.springframework.org/schema/context
						   http://www.springframework.org/schema/context/spring-context-3.2.xsd
						   http://www.springframework.org/schema/mvc
						   http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd">
		
			<!-- 1.扫描控制器所在的包 -->
			<context:component-scan base-package="com.xinliCity.controller" />
			<!-- 2.开启注解驱动 -->
			<mvc:annotation-driven>
				<mvc:message-converters>
					<bean class="org.springframework.http.converter.StringHttpMessageConverter">
						<property name="supportedMediaTypes">
							<list>
								<value>application/json;charset=UTF-8</value>
							</list>
						</property>
					</bean>
					<bean class="com.alibaba.fastjson.support.spring.FastJsonHttpMessageConverter">
						<property name="supportedMediaTypes">
							<list>
								<value>text/html;charset=UTF-8</value>
								<value>application/json</value>
							</list>
						</property>
						<property name="features">
							<list>
								<value>WriteDateUseDateFormat</value>
							</list>
						</property>
					</bean>
				</mvc:message-converters>
			</mvc:annotation-driven>
			
			<!-- 3.配置试图解析器 --> 
			
			<!-- 4.配置放行静态资源 -->
			<mvc:resources location="/assets/" mapping="/assets/**"/>
			<mvc:resources location="/css/" mapping="/css/**"/>
			<mvc:resources location="/js/" mapping="/js/**"/>
			<mvc:resources location="/img/" mapping="/img/**"/>
			<mvc:resources location="/common/" mapping="/common/**"/>
			
			<!-- 文件上传的配置 -->
			<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
	     		<property name="defaultEncoding" value="UTF-8"/>
	     		<property name="maxUploadSize" value="5000000"/>
	     	</bean> 
	     	
	     	
	     	
	     	<bean class="org.springframework.web.servlet.view.ContentNegotiatingViewResolver">
	     		<property name="mediaTypes">
	     			<map>
	     				<entry key="jsp" value="text/html;charset=UTF-8" />
	     				<entry key="json" value="application/json;charset=UTF-8" />
	     				<entry key="xml" value="application/xml;charset=UTF-8" />
	     			</map>
	     		</property>
	     		<property name="viewResolvers">
	     			<list>
	     				<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
							<property name="prefix" value="/WEB-INF/view/"/>
							<property name="suffix" value=".jsp"/>
						</bean>
	     			</list>
	     		</property>
	     	</bean>
</beans>