<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xinliCity.mapper.ProviderMapper">
		<resultMap type="Provider" id="proMap">
			<id column="id" property="id"/>
			<result column="proCode" property="proCode"/>
			<result column="proName" property="proName"/>
			<result column="proDesc" property="proDesc"/>
			<result column="proContact" property="proContact"/>
			<result column="proPhone" property="proPhone"/>
			<result column="proAddress" property="proAddress"/>
			<result column="proFax" property="proFax"/>
			<result column="createdBy" property="createdBy"/>
			<result column="createDate" property="createDate"/>
			<result column="modifyBy" property="modifyBy"/>
			<result column="moifyDate" property="moifyDate"/>
		</resultMap>
	
		
	<select id="totalCount" parameterType="map" resultType="int">
		select count(1) as totalCount from `provider`
		<trim prefix="where" prefixOverrides="and |or">
			<if test='findParam!=null and findParam!=""'>
				and  proName like concat('%',#{findParam},'%')
			</if>
		</trim>
	</select>
	
	<select id="findByCondition" parameterType="map" resultMap="proMap">
		SELECT id,proCode,proAddress,proDesc,proName,proContact,proPhone,proFax,createDate FROM provider
		<trim prefix="where" prefixOverrides="and |or">
			<if test='findParam!=null and findParam!=""'>
				and  proName like concat('%',#{findParam},'%')
			</if>
		</trim>
		limit #{start},#{end}
	</select>
	
	<select id="selectByCondition" parameterType="List" resultMap="proMap">
		SELECT id,proCode,proAddress,proName,proDesc,proContact,proPhone,proFax,createDate FROM provider 
		where id=#{proId}
	</select>
	
	<insert id="insert" parameterType="Provider">
		INSERT INTO provider(proCode,proName,proContact,proPhone,proAddress,proFax,proDesc,createdBy,createDate) 
		VALUE(#{proCode},#{proName},#{proContact},#{proPhone},#{proAddress},#{proFax},#{proDesc},#{createdBy},#{createDate})
	</insert>
	<update id="update" parameterType="Provider">
		UPDATE provider SET proCode = #{proCode},proName=#{proName},proContact=#{proContact},proPhone=#{proPhone},proAddress=#{proAddress},proFax=#{proFax},proDesc=#{proDesc},modifyBy=#{modifyBy},modifyDate=#{modifyDate} WHERE id = #{id}
	</update>
	<delete id="delete">
	    delete from `provider` where id=#{proId}
	</delete>
</mapper>