<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:aop="http://www.springframework.org/schema/aop"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:tx="http://www.springframework.org/schema/tx"
   	   xsi:schemaLocation="http://www.springframework.org/schema/beans
						   http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
						   http://www.springframework.org/schema/aop
						   http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
						   http://www.springframework.org/schema/context
						   http://www.springframework.org/schema/context/spring-context-3.2.xsd
						   http://www.springframework.org/schema/tx
						   http://www.springframework.org/schema/tx/spring-tx-3.2.xsd">
		
				<!-- 1.关联属性文件 -->
				<!-- <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
    						<property name="location" value="classpath:db.properties"/>
   						 </bean>	-->
				<context:property-placeholder location="classpath:db.properties"/>
				<!-- 2.配置数据源 -->
				<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
					<property name="driverClassName" value="${jdbc.driver}" />
					<property name="url" value="${jdbc.url}" />
					<property name="username" value="${jdbc.username}" />
					<property name="password" value="${jdbc.password}" />
				</bean>
				<!-- 3.配置SqlSessionFactory -->
				<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
					<property name="dataSource" ref="dataSource"/>
					<property name="configLocation" value="classpath:mybatis-config.xml" />
					<property name="typeAliasesPackage" value="com.xinliCity.entity" />
				</bean>
				<!-- 4.配置MapperScannerConfigurer,批量生成数据访问层的mapper接口的实例 -->
				<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
					<property name="basePackage" value="com.xinliCity.mapper" />
					<property name="sqlSessionFactoryBeanName" value="sqlSessionFactory" />
				</bean>
				<!-- 5.扫描业务逻辑层使用注解标注的类 -->
				<context:component-scan base-package="com.xinliCity.service" />
				<!-- 6.配置事务管理器 -->
				<bean id="txManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
					<property name="dataSource" ref="dataSource"/>
				</bean>
				<!-- 7.定义事务规则 -->
				<tx:advice id="txAdvice" transaction-manager="txManager">
					<tx:attributes>
						<tx:method name="create*" propagation="REQUIRED"/>
						<tx:method name="delete*" propagation="REQUIRED"/>
						<tx:method name="update*" propagation="REQUIRED"/>
						<tx:method name="select*" read-only="true"/>
						<tx:method name="get*" read-only="true"/>
						<tx:method name="add*"/>
					</tx:attributes>
				</tx:advice>
				<!-- 8.配置切面 -->
				<aop:config>
					<aop:pointcut expression="execution(* com.xinliCity.service..*.*(..))" id="pointCut"/>
					<aop:advisor advice-ref="txAdvice" pointcut-ref="pointCut"/>
				</aop:config>
</beans>